.App{
  text-align: center;
}

.btn {
  padding: 5px;
  margin-top: 15px;
  font-weight: bold;
  background-color: rgb(94, 231, 135);
  box-shadow: 0 2px 5px gray;
  border-color: #ffffff;
  border-radius: 5px;
}