.card{
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgb(71, 66, 66);
    border-radius: 5px;
    margin: 15px;
    width: 30%;
    display: inline-block;
  }

.card > button{
    box-shadow: 0 2px 5px rgb(71, 66, 66);
    background-color: rgb(0, 140, 255);
    color: white;
    
}

.LikeCount{
    font-weight: 600;
}

  @media (max-width: 820px){
      .card{
          width: 80%;
      }
  }